Source: gopoker
Section: games
Priority: extra
Maintainer: Malik Baktiyarov <malik@baktiyarov.com>
Build-Depends: debhelper (>= 8.0.0), golang-go
Standards-Version: 3.9.4
Homepage: http://pokerno.de

Package: gopoker-bot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Poker bot
 Poker bot with simple AI

Package: gopoker-cli
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Poker console client
 Poker command line client

Package: gopoker-ctrl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Poker console control
 Poker command line control

Package: gopoker-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Poker server
 Poker HTTP and RPC server
